In [1]:
import pandas as pd
import numpy as np

In [2]:
one_bedroom = pd.read_csv('zillow_1bedroom_transformed.csv')
two_bedroom = pd.read_csv('zillow_2bedroom_transformed.csv')
three_bedroom = pd.read_csv('zillow_3bedroom_transformed.csv')
four_bedroom = pd.read_csv('zillow_4bedroom_transformed.csv')
five_bedroom = pd.read_csv('zillow_5bedroom_transformed.csv')

In [3]:
five_bedroom.head(5)

,Unnamed: 0,RegionID,State,County,City,ZipCode,Bedrooms,2000,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,91982,TX,Fort Bend County,Katy,77494,5,293472.87,291307.33,297004.88,...,430715.46,455776.69,446100.48,436421.81,441027.20,447933.98,459354.29,533243.04,645710.52,662188.82
1,1,61148,NJ,Ocean County,Lakewood,8701,5,173288.19,195176.95,224392.61,...,385458.23,433205.58,486038.48,528863.80,550370.80,554591.00,573551.79,666718.48,812717.28,896627.82
2,2,91940,TX,Harris County,Katy,77449,5,143394.87,145468.03,149726.36,...,175390.65,195669.88,207811.60,212159.53,219776.96,227734.07,236595.14,275694.24,338865.87,341158.88
3,3,91733,TX,Harris County,Houston,77084,5,143823.34,147133.04,149795.49,...,197478.13,219470.83,227685.00,228724.60,234276.08,242079.14,251585.05,292347.15,353379.61,359334.80
4,4,93144,TX,El Paso County,El Paso,79936,5,173935.70,169022.94,167233.98,...,236689.55,239146.54,240302.03,245089.17,248027.42,254984.55,267013.04,303895.96,350588.33,369794.40

In [6]:
merged = pd.concat([one_bedroom, two_bedroom, three_bedroom, four_bedroom, five_bedroom], ignore_index=True)

In [14]:
df = merged.sort_values(['ZipCode', 'Bedrooms'])

In [19]:
df = df.drop(columns='Unnamed: 0')

In [20]:
df

,RegionID,State,County,City,ZipCode,Bedrooms,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
3310,58196,MA,Hampden County,Agawam,1001,1,NaN,NaN,NaN,NaN,...,NaN,65480.93,68650.43,73233.43,77710.03,82762.26,88313.63,103248.03,120766.31,129152.05
11639,58196,MA,Hampden County,Agawam,1001,2,99469.37,102201.40,113070.80,124513.17,...,147774.87,148577.27,153838.93,159219.92,165558.80,172075.62,181343.57,204411.29,229366.77,244651.75
27915,58196,MA,Hampden County,Agawam,1001,3,131786.40,136432.58,147627.26,163257.84,...,200340.74,202733.34,212716.95,220938.89,228656.62,235819.54,248833.94,279673.54,306176.56,319699.70
48189,58196,MA,Hampden County,Agawam,1001,4,145458.52,149903.95,162586.51,180017.88,...,223469.81,226208.94,237877.28,247656.62,256328.26,262970.48,276701.14,312339.82,342995.96,354643.35
62426,58196,MA,Hampden County,Agawam,1001,5,150549.38,155917.03,170570.62,189260.07,...,252689.10,257492.20,270089.33,281236.95,291680.30,299097.92,314407.88,356974.46,397121.75,410996.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3489,100478,AK,Ketchikan Gateway Borough,Ketchikan,99901,1,NaN,NaN,NaN,NaN,...,87502.21,87456.53,86286.26,83236.20,89177.58,94544.70,101034.32,106741.87,115532.65,124873.39
12289,100478,AK,Ketchikan Gateway Borough,Ketchikan,99901,2,NaN,NaN,NaN,NaN,...,186675.93,196307.81,203090.64,207776.77,218270.49,231022.31,243895.04,259663.29,279594.25,285527.09
28641,100478,AK,Ketchikan Gateway Borough,Ketchikan,99901,3,NaN,NaN,NaN,NaN,...,273837.75,287114.68,296714.09,305995.98,323790.46,343415.43,363155.57,389971.65,414053.97,413809.57
48872,100478,AK,Ketchikan Gateway Borough,Ketchikan,99901,4,NaN,NaN,NaN,NaN,...,328510.00,341124.06,351262.21,362013.28,382838.50,404778.48,427447.00,463294.52,491648.67,490598.22
62847,100478,AK,Ketchikan Gateway Borough,Ketchikan,99901,5,NaN,NaN,NaN,NaN,...,365003.65,374794.47,385044.13,397644.68,423618.49,448399.11,473419.02,520727.00,557600.53,547036.93

In [22]:
df.to_csv(r'C:\Users\humma\Documents\IT Job\Portfolio Projects\Zillow\transformed_datasets\tables_merged.csv')